{% extends '_base.html' %}


{% block title %}
  パスワード再設定
{% endblock title %}



{% block content %}
  <form action="" method="post">
    {% csrf_token %}
    {% for error in form.non_field_errors %}
      <p><small class="text-danger">{{ error }}</small></p>
    {% endfor %}

    {% for error in form.password1.errors %}
      <p class="m-0"><small class="text-danger">{{ error }}</small></p>
    {% endfor %}
    <div class="mb-3 form-floating">
      <input class="form-control" type="password" name="password1" placeholder="新しいパスワード" autocomplete="new-password" required id="id_password1">
      <label for="id_password1" class="form-label">新しいパスワード</label>
    </div>

    {% for error in form.password2.errors %}
      <p class="m-0"><small class="text-danger">{{ error }}</small></p>
    {% endfor %}
    <div class="mb-3 form-floating">
        <input class="form-control" type="password" name="password2" placeholder="新しいパスワード(確認用)" required id="id_password2">
        <label for="id_password2" class="form-label">新しいパスワード(確認用)</label>
    </div>
    <button type="submit" class="btn btn-primary">パスワード変更</button>
  </form>
{% endblock content %}
