{% extends '_base.html' %}
{% load static %}

{% block title %}
    結果記録
{% endblock title %}



{% block content %}
<div class="container mb-3 shadow p-2 border rounded dont-select">
    <form action="" method="post" class="">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-4">
                <div class="form-floating mb-3">
                    <input type="time" name="finished" value="{{ now }}" required id="id_finished" class="form-control">
                    <label for="id_finished">試合終了時刻</label>
                </div>
            </div>
            <div class="col-6 col-md-4">
                <div class=" form-floating mb-3">
                    <select name="first_second" id="id_first_second" required class="form-control">
                        <option value="" selected class="default">-----------</option>
                        <option value="True">先行</option>
                        <option value="False">後攻</option>
                    </select>
                    <label for="id_first_second">先行or後攻</label>
                </div>
            </div>
            <div class="col-6 col-md-4">
                <div class=" form-floating mb-3">
                    <select name="result" id="id_result" required class="form-control">
                        <option value="" selected class="default">-----------</option>
                        <option value="1">勝ち</option>
                        <option value="-1">負け</option>
                        <option value="-1">引き分け</option>
                    </select>
                    <label for="id_result">勝敗</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-2">
                <div class=" form-floating mb-3">
                    <select name="player1" id="id_player1" required class=" form-control" disabled>
                        {% for zip in player_and_num %}
                        {% if zip.player == user %}
                        <option selected value="{{ zip.player.pk }}">{{ zip.num }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <label for="id_player1">あなた</label>
                </div>
            </div>
            <div class="col">
                <div class="form-floating mb-3">
                    <select name="skill1" id="id_skill1" required class="form-control">
                        <option value="">----------</option>
                        {% for skill in skills %}
                        <option value="{{ skill.pk }}">{{ skill }}</option>
                        {% endfor %}
                    </select>
                    <label for="id_skill1">使用スキル</label>
                </div>
            </div>
            <div class="col">
                <div class="form-floating mb-3">
                    <select name="deck_thema1" id="id_deck_thema1" required class="form-control">
                        <option value="">----------</option>
                        {% for thema in themas %}
                        <option value="{{ thema.pk }}">{{ thema }}</option>
                        {% endfor %}
                    </select>
                    <label for="id_deck_thema1">使用テーマ</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-2">
                <div class=" form-floating mb-3">
                    <select name="player2" id="id_player2" required class=" form-control">
                        <option value="" selected class="default">----------</option>
                        {% for zip in player_and_num %}
                        {% if zip.player != user %}
                        <option value="{{ zip.player.pk }}">{{ zip.num }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <label for="id_player2">対戦相手</label>
                </div>
            </div>
            <div class="col">
                <div class="form-floating mb-3">
                    <select name="skill2" id="id_skill2" required class="form-control">
                        <option value="" selected class="default">----------</option>
                        {% for skill in skills %}
                        <option value="{{ skill.pk }}" class="skills">{{ skill }}</option>
                        {% endfor %}
                    </select>
                    <label for="id_skill2">相手使用スキル</label>
                </div>
            </div>
            <div class="col">
                <div class="form-floating mb-3">
                    <select name="deck_thema2" id="id_deck_thema2" required class="form-control">
                        <option value="" selected class="default">----------</option>
                        {% for thema in themas %}
                        <option value="{{ thema.pk }}" class="themas">{{ thema }}</option>
                        {% endfor %}
                    </select>
                    <label for="id_deck_thema2">相手使用テーマ</label>
                </div>
            </div>
        </div>

        <button class="btn btn-primary" id="post_form">送信</button>
    </form>
</div>
<div class="container border rounded p-2 shadow dont-select">
    <!-- <button class="btn btn-outline-primary mb-" data-bs-toggle="collapse" data-bs-target="#table" id="display_table">相性表</button> -->
    <button class="btn btn-outline-primary mb-" type="button" id="update_btn">データ更新<i class="bi bi-arrow-clockwise"></i></button>
    <a class="btn btn-outline-secondary" type="button" href="{% url 'game:csv_export' tournament_pk %}">.csv&ThickSpace;<i class="bi bi-download"></i></a>
    <div class="row align-items-center justify-content-center">
        <div class=" col-md-5 mb-3">
            <canvas id="distribution"></canvas>
        </div>
        <div class=" col-md-5 mb-3">
            <canvas id="personal"></canvas>
        </div>

        <div class="col-md-12 collapse show" id="table">
            <div class="table-responsive">
                <table class="table table-striped table-hover text-center shadow">
                    <thead class="table-light">
                        <tr id="table_header">
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
{% endblock content %}


{% block extra_js %}
    <script src="{% static 'js/for_ajax_csrf.js' %}"></script>
    <script>
        function post_form(){
            $.ajax({
                type: "post",
                url: "{% url 'game:create_game_ajax' tournament_pk %}",
                dataType: "json",
                data: {
                    'finished_time': $("input[name='finished']").val(),
                    'first_second': $("select[name='first_second']").val(),
                    'result': $("select[name='result']").val(),
                    'skill1': $("select[name='skill1']").val(),
                    'deck_thema1': $("select[name='deck_thema1']").val(),
                    'player2': $("select[name='player2']").val(),
                    'skill2': $("select[name='skill2']").val(),
                    'deck_thema2': $("select[name='deck_thema2']").val()
                },
                success: function(data){
                    draw_distribution(data['themas']);
                    draw_personalChart(data['dps']);
                    draw_tables(data['tables']);
                    document.querySelectorAll(".default").forEach((option)=>{
                        option.selected = true;
                    });
                }
            });
        }

        function get_data(table=false){
            $.ajax({
                type: "get",
                url: "{% url 'game:create_game_ajax' tournament_pk %}",
                dataType: "json",
                data: {
                    'table': table,
                },
                success: function(data){
                    draw_distribution(data['themas']);
                    draw_personalChart(data['dps']);
                    if(table) draw_tables(data['tables']);
                }
            });
        }

        document.getElementById('post_form').addEventListener('click', (e)=>{
            e.preventDefault();
            post_form();
        });
        let distChart = undefined;
        let personalChart = undefined;

        function draw_distribution(themas){
            if(typeof distChart !== 'undefined' && distChart) distChart.destroy();
            const labels = [];
            const datas = [];
            const backgroundColor = ['rgba(255,99,132,0.4)','rgba(255,150,132,0.4)', 'rgba(255,200,132,0.4)',];
            const borderColor = ['rgba(255,99,132,1)','rgba(255,150,132,1)','rgba(255,200,132,1)',];
            // themas = [('ガンドラ', 3), ('DD', 1), ...]
            themas.forEach((thema)=>{
                labels.push(thema[0]);
                datas.push(thema[1]);
            });
            const data = {
                labels: labels,
                datasets: [{
                    data: datas,
                    backgroundColor: backgroundColor,
                    borderColor: borderColor,
                }],
            };
            const options = {
            };
            const config = {
                type: 'doughnut',
                data: data,
                options: options,
            };
            const ctx = document.getElementById('distribution').getContext('2d');
            distChart = new Chart(ctx, config);
        }

        function draw_personalChart(dps){
            if(typeof personalChart !== 'undefined' && personalChart) personalChart.destroy();
            const labels = [];
            const datas = [];
            dps.forEach((dp)=>{
                labels.push(dp[0]);
                datas.push(dp[1]);
            });
            const data = {
                labels: labels,
                datasets: [{
                    label: 'dp',
                    data: datas,
                    fill: true,
                    backgroundColor: 'rgba(0, 0, 255, 0.2)',
                    borderColor: 'rgba(0, 0, 255, 0.5)',
                }],
                borderWidth: 1
            };
            const options = {
                scales: {
                    x: {
                        title: {
                            display: true,
                            text: '試合数',
                        }
                    },
                    y: {
                        beginAtZero: true
                    }
                }
            }
            const config = {
                type: 'line',
                data: data,
                options: options
            };
            const ctx = document.getElementById('personal').getContext('2d');
            personalChart = new Chart(ctx, config);
        }

        function draw_tables(tables){
            const header = document.getElementById('table_header');
            while(header.firstChild) header.firstChild.remove();
            const th1 = document.createElement('th');
            th1.setAttribute('scope', 'col');
            th1.style.width = 40;
            header.appendChild(th1);
            tables[0].forEach((thema)=>{
                const th = document.createElement('th');
                th.setAttribute('scope', 'col');
                const div = document.createElement('div');
                div.classList.add('row','flex-column');
                th.appendChild(div);
                const small = document.createElement('small');
                div.appendChild(small);
                small.classList.add('text-muted');
                small.textContent = thema['name'];
                const div_img = document.createElement('div');
                div_img.classList.add('col');
                const img = document.createElement('img');
                img.src = thema['url'];
                img.setAttribute('width', '30');
                img.setAttribute('height', '30');
                div_img.appendChild(img);
                div.appendChild(div_img);
                header.appendChild(th);
            });
            const th2 = document.createElement('th');
            th2.setAttribute('scope', 'col');
            th2.classList.add('align-middle');
            th2.textContent = '合計';
            header.appendChild(th2);

            const tbody = document.querySelector('tbody');
            while(tbody.firstChild) tbody.firstChild.remove();
            tables.slice(1).forEach((row)=>{
                const tr = document.createElement('tr');
                const th = document.createElement('th');
                const img = document.createElement('img');
                th.classList.add('align-middle','text-center');
                tbody.appendChild(tr);
                tr.appendChild(th);
                th.appendChild(img);
                img.src = row[0]['url'];
                img.setAttribute('width', 30);
                img.setAttribute('height', 30);
                row.slice(1).forEach((col)=>{
                    const td = document.createElement('td');
                    const div = document.createElement('div');
                    const span = document.createElement('span');
                    const small = document.createElement('small');
                    span.textContent = col['rate'];
                    const rate = col['rate'].split('%')[0];
                    if(rate === '-') span.classList.add('text-muted');
                    else if(rate >= 60) span.classList.add('text-primary');
                    else if(rate <= 40) span.classList.add('text-danger');
                    else if(rate <= 45) span.classList.add('text-warning');
                    else if(rate >= 55) span.classList.add('text-info');
                    small.textContent = col['win'] + '-' + col['loose'];
                    tr.appendChild(td);
                    td.appendChild(div);
                    div.appendChild(span);
                    div.appendChild(small);
                    div.classList.add('row', 'flex-column');
                    span.classList.add('rate');
                    small.classList.add('text-muted');
                });
            });
        }


        $(function(){
            get_data(table=true);
        });

        document.getElementById('display_table').addEventListener('click', ()=>{
            get_data(table=true);
        });

        document.getElementById('update_btn').addEventListener('click', (e)=>{
            e.preventDefault();
            get_data(table=true);
        });
    </script>
    {% endblock extra_js %}
